{{ define "main" }}
<!-- Members -->
<div class="container">
  <h1 class="mb-3" id="consortium" style="text-align: center;">Solution</h1>
  {{ range .Pages.ByPublishDate }}
  <div class="row my-5 align-items-center ">
    <div class="col-5 featured-text text-center text-lg-left ">
      <h4 class="text mb-1">{{ .Title }}</h4>
      <div class="text-black-50 mb-2"><span>{{ .Content }}  </span></div>
    </div>
    <div class="col-7">
      <div class="ratio ratio-16x9 ">
        <video id="evideo" src="{{ .Params.Vid }}" title="YouTube video" controls allowfullscreen></video>
      </div>
    </div>
  </div>
  {{ end }}
  </div>
</div>
{{ end }}
