<!DOCTYPE html>
<html lang="en">
{{- partial "head.html" . -}}
<body id="page-top">
{{- partial "header.html" . -}}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        {{ with site.Data.homepage.main }}
                        <h1 id="css-hack1" class="mx-auto my-0 text-uppercase mb-3 main-title">{{ .header.title }}</h1>
                        <h2 id="css-hack2" class="text-white-50 mx-auto mb-5">{{ .header.description }}</h2>
                        {{ end }}
                        {{ with site.Data.homepage.introduction }}
                        <h4 class="text-white-50 text-center mt-5">{{ .title }}</h4>
                        <p class="text-white-50 text-center enhance-background">{{ .desc1 }}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
        </header>

{{- partial "footer.html" . -}}
</body>
</html>
