{{ define "main" }}
<!-- Members -->
<div class="container-md">
  <div class="row g-3 justify-content-md-center">
    <div class="col-5 col-md-4">
      <h1 class="mb-3"> Contact Us </h1>
     
      <p>We're thrilled that you're interested in learning more about our services! Our team is here to provide the information and assistance you need. Whether you have a simple question or need a comprehensive solution, we're ready to help.</p>
      <p>If you're looking for more information or have any questions, please don't hesitate to reach out. You can email us directly at: <img class="picture-of-text" src="/assets/img/pictureof_text1.jpg"/></p>
      <p>Would you like to see our solutions in action? We're pleased to offer demonstrations to help you understand our offerings better. To request a demo, please reach out to us at: <img class="picture-of-text" src="/assets/img/pictureof_text2.jpg"/></p>

      <p>We look forward to hearing from you and working together in the future!</p>
    </div>
  </div>
</div>

{{ end }}
